<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head >
<title>Online D.S</title>
<th:block th:include="admin/dashboardfragement/dhead :: dheads"></th:block>

</head>
<body class="hold-transition skin-blue sidebar-mini" >


<th:block th:include="admin/dashboardfragement/sidebar :: div"></th:block>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
      
          <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 th:text="${#authentication.getPrincipal().getUsername()}"></h3>

              <p>UserName:</p>
              
            </div>
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            
          </div>
        </div>

      
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3  th:text="${user}"></h3>

              <p>Total Users:</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3 th:text="${tservices}"></h3>

              <p>Total Services:</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3 th:text="${blog}"></h3>

              <p>Total Blogs:</p>
            </div>
            <div class="icon">
              <i class="fas fa-bold"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      

    </section>
    <!-- /.content -->
  </div>

<th:block th:include="admin/dashboardfragement/dscript :: dscripts"></th:block>
</body>
<th:block th:include="admin/dashboardfragement/footer :: foot"></th:block>

	

</html>
