<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset='utf-8' />
<title>Online Delivery</title>
<meta name='viewport'
	content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script
	src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<link
	href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css'
	rel='stylesheet' />
<style>
body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.built_address {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	padding: 10px;
	font-size: 12px;
	font-family: Arial;
	margin-left: 83%;
	margin-top: 7%;
}
</style>

</head>


<script
	src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script
	src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
<link rel='stylesheet'
	href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css'
	type='text/css' />

<script
	src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
	href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css'
	type='text/css' />


<script
	src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
<link rel='stylesheet'
	href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
	type='text/css' />

<style>
#geocoder-container>div {
	position: fixed;
	min-width: 50%;
	margin-left: 25%;
	margin-bottom: 25%;
}
</style>
<th:block th:include="admin/dashboardfragement/dhead :: dheads"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:include="admin/dashboardfragement/mapsidebar :: mapdiv"></th:block>


	
		<div id='map'></div>
		<div class="built_address">
			<button type="submit" id="submitbtn">Submit</button>
		</div>

	<th:block th:include="admin/dashboardfragement/dscript :: dscripts"></th:block>
</body>
<th:block th:include="admin/dashboardfragement/footer :: foot"></th:block>

<script>


	var built_address1 = '';
	var built_address2 ='';
	var place1 = '';
	var place2 ='';
	var user_coordinates;
	var geocode_results;


	mapboxgl.accessToken = 'pk.eyJ1IjoiZmFyaXNrYXNzaW0iLCJhIjoiSk1MaUthdyJ9.vkxtdDbYdLi524WwlKORBw';
	var map = new mapboxgl.Map({
	    container: 'map',
	    style: 'mapbox://styles/mapbox/streets-v11',
	    center: {lat: 27.702983735525862 , lng: 85.31982421875},
	    zoom: 15
	});

	var geocoder1 = new MapboxGeocoder({
	    accessToken: mapboxgl.accessToken,
  marker: {
        color: 'orange',
        draggable:false,
    },
    placeholder: "Origin location",mapboxgl: mapboxgl
	});
	var geocoder2 = new MapboxGeocoder({
	    accessToken: mapboxgl.accessToken,
  marker: {
        color: 'orange',
        draggable:false,
    },
    placeholder: "Destination location",
mapboxgl: mapboxgl
	});
 
map.addControl(geocoder1);
 
map.addControl(geocoder2);


  

	// After the map style has loaded on the page, add a source layer and default
	// styling for a single point.
	map.on('load', function() {
	    map.addSource('single-point', {
	        "type": "geojson",
	        "data": {
	            "type": "FeatureCollection",
	            "features": []
	        }
	    });


	    map.addLayer({
	        "id": "point",
	        "source": "single-point",
	        "type": "circle",
	        "paint": {
	            "circle-radius": 10,
	            "circle-color": "#007cbf"
	        }
	    });
   

	    getUserLocation();

	});

    if (typeof(Number.prototype.toRad) === 'undefined') { 
    	Number.prototype.toRad = function() {
    		return this * Math.PI / 180;     
    		} 
    }


	function getUserLocation() {

		// request to allow user position 
	    if (navigator.geolocation) {

	        navigator.geolocation.getCurrentPosition(showPosition);
			function showPosition(position) {

				// get user current coordinates and center map on coordiates
				console.log('L2', position)
				//console.log(position.coords.latitude, position.coords.latitude)
	            user_coordinates = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };
  

				// draw user location on mao
				map.getSource('single-point').setData({type: "Point", coordinates: [user_coordinates.lng,user_coordinates.lat]});
  	console.log("geocoder1",geocoder1.mapboxClient);
                geocoder1.mapboxClient
  .geocodeReverse({

    latitude: user_coordinates.lat, 
    longitude: user_coordinates.lng
  }, function(err, res) {
    console.log(err, res)
  });

			    // Listen for the result event from the MapboxGeocoder that is triggered when a user
			    // makes a selection and add a symbol that matches the result.
			    geocoder1.on('result', function(ev) {
			        map.getSource('single-point').setData(ev.result.geometry);
			        console.log('ev',ev)
			        built_address1 = ev.result.center;
			        place1 = ev.result.text;

			    });
			                  geocoder2.mapboxClient
  .geocodeReverse({
    latitude: user_coordinates.lat, 
    longitude: user_coordinates.lng
  }, function(err, res) {
    console.log(err, res)
  });
   geocoder2.on('result', function(ev) {
			        map.getSource('single-point').setData(ev.result.geometry);
			        console.log('ev',ev)
			        built_address2 = ev.result.center;
			        place2 = ev.result.text;

			    });

			}
	    } else {
	    	// if device doesnt support location
	    	console.log('device doesnt support location')
	    }

	}; /* END getUserLocation(); */

  $(document).ready(function(){
	  var origin;
	  var destination;
	  var distance;
  	$("#submitbtn").click(function(e){
  		
  console.log("here");
  	console.log("address",built_address2);
  	let itemsArray = localStorage.getItem('items') ? JSON.parse(localStorage.getItem('items')) : [];
            localStorage.setItem('items', JSON.stringify(itemsArray))
            const data = JSON.parse(localStorage.getItem('items'))

            var items={};

         	origin =built_address1;
         	destination = built_address2;
          	source = place1;
          	drop=place2;

           items.origin= origin;
           items.destination= destination;


            itemsArray.push(items);
            localStorage.setItem('items', JSON.stringify(itemsArray));
            console.log("lng",origin);
          var radiuses=25;

              // var query = 'https://api.mapbox.com/matching/v5/mapbox/' + profile + '/' + coordinates + '?geometries=geojson&radiuses=' + radiuses + '&steps=true&access_token=' + mapboxgl.accessToken;
              var query1= 'https://api.mapbox.com/directions/v5/mapbox/driving/'+origin[0]+','+origin[1]+';'+destination[0]+','+destination[1]+'.json?access_token=pk.eyJ1IjoiZmFyaXNrYXNzaW0iLCJhIjoiSk1MaUthdyJ9.vkxtdDbYdLi524WwlKORBw&steps=true&alternatives=true&geometries=geojson';
       
              var query2 = 'https://api.mapbox.com/matching/v5/mapbox/driving/'+origin[0]+','+origin[1]+';'+destination[0]+','+destination[1]+ '?geometries=geojson&radiuses=' + radiuses+';'+radiuses + '&steps=true&access_token=' + mapboxgl.accessToken;
              $.ajax({
                  method: 'GET',
                  url: query2
                }).done(function(data) {
                  // Get the coordinates from the response
                  var coords = data.matchings[0].geometry;
                  // Draw the route on the map
                  addRoute(coords);
                 /*  getInstructions(data.matchings[0]); */
                });
              function addRoute(coords) {
                  // If a route is already loaded, remove it
                  if (map.getSource('route')) {
                    map.removeLayer('route')
                    map.removeSource('route')
                  } else {
                    map.addLayer({
                      "id": "route",
                      "type": "line",
                      "source": {
                        "type": "geojson",
                        "data": {
                          "type": "Feature",
                          "properties": {},
                          "geometry": coords
                        }
                      },
                      "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                      },
                      "paint": {
                        "line-color": "#03AA46",
                        "line-width": 8,
                        "line-opacity": 0.8
                      }
                    });
                  };
                }

              /*   function getInstructions(data) {
                  // Target the sidebar to add the instructions
                  var directions = document.getElementById('directions');

                  var legs = data.legs;
                  var tripDirections = [];
                  // Output the instructions for each step of each leg in the response object
                  for (var i = 0; i < legs.length; i++) {
                    var steps = legs[i].steps;
                    for (var j = 0; j < steps.length; j++) {
                      tripDirections.push('<br><li>' + steps[j].maneuver.instruction) + '</li>';
                    }
                  }
                  directions.innerHTML = '<br><h2>Trip duration: ' + Math.floor(data.duration / 60) + ' min.</h2>' + tripDirections;
                } */
              
      $.ajax({
        method: 'GET',
        url: query1
      }).done(function(data) {
        // Get the coordinates from the response
        // var coords = data.matchings[0].geometry;
        // Draw the route on the map
        console.log("coords",data);
        distance=data.routes[0].distance;
console.log("distance",distance);
        // addRoute(coords);
        // getInstructions(data.matchings[0]);
e.preventDefault();
calculateDistance();
saveClientPostInfo();
      });
    
  });
  	function calculateDistance(){
  	   var lat1=parseFloat(origin[1]);           
  	   var lat2=parseFloat(destination[1]); 
       var lon1=parseFloat(origin[0]);           
       var lon2=parseFloat(destination[0]);           
       var R = 6371e3; // metres           
       var φ1 = lat1.toRad();           
       var φ2 = lat2.toRad();           
       var Δφ = (lat2-lat1).toRad();           
       var Δλ = (lon2-lon1).toRad(); 
       
       var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) + Math.cos(φ1) * Math.cos(φ2) * Math.sin(Δλ/2) * Math.sin(Δλ/2);           
       var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 

       var d = (R * c)/1000; 

console.log("dis",d);  
  		
  	}
  	function saveClientPostInfo(){
 
  		var formData={
  				
  				source:source,
  			destination:drop,
  		distances:distance
  		
  		
  		}
  		console.log(formData) 
  		$.ajax({
  			type:"POST",
  			contentType:"application/json",
  			url:"/save/clientpost",
  			data:JSON.stringify(formData),
  			success:function(response){
  				console.log("response",response);
  			}
  		})
 
  	}		
  	
  });
  	

	</script>

</body>
</html>