 
 <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>View About us</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	





<style>
}
.container {
	margin-top: 60px;
}
</style>
<th:block th:include="admin/dashboardfragement/dhead :: dheads"></th:block>
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<th:block th:include="admin/dashboardfragement/sidebar :: div"></th:block>
 
 
 
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            About us
            <small>View About us</small>
          </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"> About us</a></li>
        <li class="active">View About us</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">View About us</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="aboutusList" class="table table-bordered table-striped">
                <thead>
                <tr>
                
                <th width="15px;">#</th>
                  <th>Title</th>
                  <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
             
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  
  
  
     
<th:block th:include="admin/dashboardfragement/dscript :: dscripts"></th:block>
</body>
<th:block th:replace="admin/dashboardfragement/footer :: foot"></th:block>

   <script type="text/javascript" th:src="@{~/js/sweetalert2.all.js}"></script>

<script th:src="@{~/js/jquery.dataTables.min.js}" type="text/javascript"></script>

  <script type="text/javascript" th:src="@{~/custom/other/listAboutus.js}"></script>
</html>